.required::after {
    color: #FF0000;
    content: " *";
}
.panel-title {
    color: #ffffff;
}

#corAzul {
	background: #5E9CB3;
}


.fluig-style-guide form label{
    color: #5E9CB3;
    font-size: 11px;
}

.fluig-style-guide form h1 {
    color: rgb(0,74,100);
}




